<h1>Hello <%= name %> </h1>

<a href="#">News <span class="badge">5</span></a
><br />
<a href="#">Comments <span class="badge">10</span></a
><br />
<a href="#">Updates <span class="badge">2</span></a>
<br /><br /><br />
<a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
