<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p>
    Error Message:
    <strong><%= message.signupMessage || "Signup to join"%></strong>
  </p>
</div>
<form action="/signup" method="POST">
  <div class="form-group">
    <label for="firstname">First Name:</label>
    <input
      type="text"
      name="firstname"
      class="form-control"
      id="firstname"
      required
    />
  </div>
  <div class="form-group">
    <label for="lastname">Last Name:</label>
    <input
      type="text"
      name="lastname"
      class="form-control"
      id="lastname"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" class="form-control" id="email" required />
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="username" />
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="pwd"
      required
    />
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr />
<h3 class="text-center">Or</h3>
<hr />
<a href="/auth/google" id="google-button" class="btn btn-block btn-danger">
  <i class="fa fa-google"></i> Sign in with Google
</a>
<a href="/auth/facebook" id="facebook-button" class="btn btn-block btn-primary">
  <i class="fa fa-facebook"></i> Sign in with Facebook
</a>
